/* ----------------------------------------------- */
/* --------------------COLORS--------------------- */
/* ----------------------------------------------- */

/* Belize Hole Blue: #3498db */
/* Peter River Blue: #2980b9 */
/* Joust Blue: #54a0ff */

:root {
    --belize-hole-blue: #3498db;
    --bleu-de-france: #2e86de;
  }

/* ----------------------------------------------- */
/* -----------------BASIC SETUP------------------- */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* --------------REUSABLE COMPONENTS-------------- */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
    justify-items: center
}

section {
    padding: 40px 0;
}

.box {
    padding: 1%;
    height: 100%;
    overflow: hidden;
}

/* --------------------HEADINGS------------------- */

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: none;
    /* color: #fff; */
    
}

h4, h4 {
    text-transform: none;
}

h1 {
    /* color: #fff; */
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    /* color: #444; */
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: var(--bleu-de-france);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    line-height: 30px;
}

h4, h5 {
    text-align: center;
    margin-bottom: 7px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    /* font-size: 90%; */
    line-height: 145%;
}

/* ----- ICONS ----- */
ion-icon {
    font-size: 64px;
  }
  
  .icon-big {
      font-size: 350%;
      display: block;
      color: var(--bleu-de-france);
      margin-bottom: 10px;
  }
  
  .icon-small {
      display: inline-block;
      width: 30px;
      text-align: center;
      color: var(--bleu-de-france);
      font-size: 120%;
      margin-right: 10px;
      
      /*secrets to align text and icons*/
      line-height: 120%;
      vertical-align: middle;
      margin-top: -5px;
  }

  /* ----- LINKS ----- */

a:link,
a:visited {
    color: var(--bleu-de-france);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active,
a:focus {
    color: #fff;
    border-bottom: 3px solid var(--bleu-de-france);
}

.white-and-black a:hover,
.white-and-black a:focus,
.white-and-black a:active {
    color: #333;
/*    border-bottom: 1px solid transparent;*/
    border-bottom: 3px solid var(--belize-hole-blue);
}

/* ----- BUTTONS ----- */

.btn {
    margin-top: 10px;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: var(--belize-hole-blue);
    border: 1px solid var(--belize-hole-blue);
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid var(--belize-hole-blue);
    color: var(--belize-hole-blue);
}

.btn:hover,
.btn:active,
.btn:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
    background-color: var(--bleu-de-france);
}

.btn-full:hover,
.btn-full:active,
.btn-full:focus {
    border: 1px solid var(--bleu-de-france);
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
    border: 1px solid var(--bleu-de-france);
    color: #fff;
}

/* ----------------------------------------------- */
/* -------------------HEADER---------------------- */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/dmbproto.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/dmbproto.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 800px;
    background-attachment: fixed;
    color: #fff;
}

.hero-row {
    height: 87%;
}

.hero-column {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.hero-text-box {
    padding-left: 2%; 
    text-align: left;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}

nav li {
    letter-spacing: 2px;
    padding-top: 4px;
    padding-right: 28px;
    font-weight: 700;
}

.logo {
    height: auto;
    width: auto;
    float: left;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 32px;
    cursor: pointer; 
    transition: color 0.3s ease;
}

.logo:hover,
.logo:focus{
    color: var(--bleu-de-france)
}

/* Main navigation */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus {
    border-bottom: 2px solid var(--belize-hole-blue);
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 20px;
    margin-right: 32px;
    cursor: pointer;
    display: none;
    text-align: center;
    padding-left: 4px;
}

.mobile-nav-icon a:link,
.mobile-nav-icon a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.mobile-nav-icon a:hover,
.mobile-nav-icon a:active,
.mobile-nav-icon a:focus {
    border-bottom: 2px solid transparent;
}

.ion-md-menu {
    font-size: 200%;
    color: #fff;
    padding-top: 13px;
    padding-right: 4px;
}

.ion-md-close {
    font-size: 200%;
    color: #fff;
}

/* Sticky navigation */
.sticky-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.95);   
    box-shadow: 0 2px 2px #222;
    /* Layer stacking! */
    z-index: 9999;
    color: #fff;
    transition: background-color 0.3s ease;
}

.sticky-white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.95);   
    box-shadow: 0 2px 2px #efefef;
    /* Layer stacking! */
    z-index: 9999;
    color: #444;
    transition: background-color 0.3s ease;
}

.sticky-black .ion-md-menu,
.sticky-white .ion-md-menu {
    padding-top: 0px;
    padding-right: 0px;
}

.sticky-white .ion-md-menu {
    color: #333;
}

.sticky-black .logo,
.sticky-white .logo {
    margin: 18px;
}

.sticky-black ion-icon,
.sticky-white ion-icon {
    margin: 0px;
}

.sticky-black .main-nav,
.sticky-white .main-nav { 
    margin-top: 18px; 
}

.sticky-black .main-nav li a:link,
.sticky-white .main-nav li a:link,
.sticky-black .main-nav li a:visited,
.sticky-white .main-nav li a:visited {
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.sticky-white .main-nav li a:link,
.sticky-white .main-nav li a:visited {
    color: #444;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.sticky-black .main-nav li a:hover,
.sticky-white .main-nav li a:hover,
.sticky-black .main-nav li a:focus,
.sticky-white .main-nav li a:focus,
.sticky-black .main-nav li a:active,
.sticky-white .main-nav li a:active {
    border-bottom: 2px solid var(--belize-hole-blue);
}


/* ----------------------------------------------- */
/* -------------------SLIDES---------------------- */
/* ----------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Hide the images by default */
.slides {
  display: none;
}

.slides > img {
    display: inline-block;
    position: relative;
    width: auto;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover,
.prev:focus, .next:focus {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  display: inline-block;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot-array{
    display: inline-block;
    position: relative;
    /* top: 505px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dot, .dot, .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot:focus {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ----------------------------------------------- */
/* -------------------PROJECTS-------------------- */
/* ----------------------------------------------- */
section {
    height: 100vh;
    min-height: 800px;
}

section .row {
    height: 100%;
}

section p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 80%;
}

section img {
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
    height: auto;
}

.section-main {
    background-color: #eee;
    color: #333;
    height: 100%;
    min-height: 540px;
    text-align: center;
}

.project-box {
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.project-column {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.project-center-box {
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.white-and-black {
    color: #333;
    text-align: left;
}

.section-project-gr {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/gifferreborngif.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/gifferreborngif.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.section-project-dmb {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./img/dmbproto.png);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./img/dmbproto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.section-project-ph {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/pihabitsleds.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/pihabitsleds.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.project-feature-header {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.project-feature {
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: left;
}

.project-feature h4 {
    text-align: left;
    padding-left: 10px;
}

.project-feature ul {
    list-style: none;
    padding: 2px;
}

.project-feature ul li {
    padding: 5px 0;
}

.project-feature ion-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: var(--bleu-de-france);
    font-size: 120%;

    /* secret alignment tricks! */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

/* ----------------------------------------------- */
/* ------------------IMG MODALS------------------- */
/* ----------------------------------------------- */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover, #myImg:focus {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    padding: 30px 0px;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption,
  .modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* ----------------------------------------------- */
/* ----------------OTHER PROJECTS----------------- */
/* ----------------------------------------------- */

.section-other {
    background-color: #eee;
    color: #333;
    height: 100%;
}

.section-other .project-box {
    text-align: left;
    height: 100%;
}

.section-other img {
    width: 100%;
    height: auto;
    /* margin-bottom: 15px; */
}

.section-other a:link,
.section-other a:visited {
    padding-bottom: 38px;
    border-bottom: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.section-other a:hover,
.section-other a:active,
.section-other a:focus {
    padding-bottom: 38px;
    color: #333;
    border-bottom: 2px solid var(--bleu-de-france);
}

.section-other h3, h5 {
    text-align: center;
}

.section-other h3 {
    padding-top: 5px;
    font-size: 120%;
}
.section-other h5 {
    font-size: 90%;
}

.other-project-list {
    padding-top: 20px;
}

.section-other h4 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.section-other ul {
    list-style: none;
    padding: 2px;
}

.section-other ul li {
    padding: 5px 0;
}

.section-other ion-icon {
    display: inline-block;
    width: 30px;
    /* text-align: center; */
    color: var(--bleu-de-france);
    font-size: 120%;

    /* secret alignment tricks! */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

.project-feature h4 {
    text-align: left;
    padding-left: 10px;
}

.project-feature ul {
    list-style: none;
    padding: 2px;
}

.project-feature ul li {
    padding: 5px 0;
}

.project-feature ion-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: var(--bleu-de-france);
    font-size: 120%;

    /* secret alignment tricks! */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

/* ----------------------------------------------- */
/* --------------------CONTACT-------------------- */
/* ----------------------------------------------- */

.section-contact {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/pihabitsleds.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/pihabitsleds.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 450px;
    background-attachment: fixed;
    color: #fff;
    text-align: left;
}

.section-contact ul {
    list-style: none;
}

.section-contact li {
    padding-top: 20px;
}

.section-contact ion-icon {
    padding: 5px 4px;

    /* secret alignment tricks */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -12px;
    margin-right: 10px;
}

.contact-links {
    white-space: nowrap;
    margin-top: 24px;
}

.contact-links p {
    display: inline;
    font-size: 160%;
}

.contact-links ion-icon {
    font-size: 175%;
}

.section-contact img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto auto;
}

.section-contact a:link,
.section-contact a:visited {
    color: var(--bleu-de-france);
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -webkit-transition: color 0.2s;
    transition: border-bottom 0.2s;
    transition: color 0.2s;
}

.section-contact li a:hover,
.section-contact li a:active,
.section-contact li a:focus {
    color: #fff;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 2px solid var(--belize-hole-blue);

}

.section-contact p {
    display: inline;
    font-size: 135%;
}


/* ----------------------------------------------- */
/* --------------------FOOTER--------------------- */
/* ----------------------------------------------- */

footer {
    background-color: #eee;
    color: #333;
}

footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 90%;
}

.copyright {
    margin: 6%;
}

.copyright p {
    text-align: center;
}
